In [1]:
import xml.etree.ElementTree as ET
import numpy as np
import pandas as pd

In [2]:
document_tree = ET.parse( 'mondial_database.xml' )
root = document_tree.getroot()

In [4]:
im = []
countries = []
for country in root.findall('country'):
    if country.findtext('infant_mortality') is None:
        continue
    else:
        im.append(float(country.findtext('infant_mortality')))
        countries.append(country.findtext('name'))

In [5]:
im_df = pd.DataFrame({'Country':countries,'Infant Mortality':im})
im_df.sort_values('Infant Mortality').head(10)

            Country  Infant Mortality
36           Monaco              1.81
90            Japan              2.13
109         Bermuda              2.48
34           Norway              2.48
98        Singapore              2.53
35           Sweden              2.60
8    Czech Republic              2.63
72        Hong Kong              2.73
73            Macao              3.13
39          Iceland              3.15

In [6]:
cities = []
citypops = []
for city in root.findall('country//city'):
    if city.findtext('population[last()]') is None:
        continue
    else:
        cities.append(city.findtext('name'))
        citypops.append(int(city.findtext('population[last()]')))

In [7]:
citypops_df = pd.DataFrame({'City':cities,'Population':citypops})
citypops_df.sort_values('Population').tail(10)

           City  Population
977    Shenzhen    10358381
1467      Delhi    11034555
974   Guangzhou    11071424
1252    Tianjin    11090314
2594  São Paulo    11152344
1250    Beijing    11716620
443      Moskva    11979529
1421     Mumbai    12442373
707    Istanbul    13710512
1251   Shanghai    22315474

In [8]:
grouppops = []
groups = []
for country in root.findall('country'):
    for group in country.findall('ethnicgroup'):
        grouppops.append(float(group.get('percentage'))/100*float(country.findtext('population[last()]')))
        groups.append(group.text)

In [9]:
groups_df = pd.DataFrame({'Ethnic Group':groups,'Population':grouppops})
groups_df.groupby('Ethnic Group').sum().sort_values('Population').tail(10)

                Population
Ethnic Group
Malay         1.219936e+08
Japanese      1.265342e+08
Russian       1.318570e+08
Bengali       1.467769e+08
Mestizo       1.577344e+08
Dravidian     3.027137e+08
African       3.183251e+08
European      4.948722e+08
Indo-Aryan    8.718156e+08
Han Chinese   1.245059e+09

In [10]:
rivers = []
lengths = []
for river in root.findall('river'):
    if river.findtext('length') is None:
        continue
    else:
        lengths.append(float(river.findtext('length')))
        rivers.append(river.findtext('name'))

In [11]:
rivers_df = pd.DataFrame({'River':rivers,'Length':lengths})
rivers_df.sort_values('Length').tail()

     Length     River
201  4374.0     Zaire
123  4400.0      Lena
136  4845.0   Hwangho
137  6380.0   Jangtse
174  6448.0  Amazonas

In [12]:
lakes = []
areas = []
for lake in root.findall('lake'):
    if lake.findtext('area') is None:
        continue
    else:
        areas.append(float(lake.findtext('area')))
        lakes.append(lake.findtext('name'))

In [13]:
lakes_df = pd.DataFrame({'Lake':lakes,'Area':areas})
lakes_df.sort_values('Area').tail()

         Area           Lake
106   57800.0  Lake Michigan
104   59600.0     Lake Huron
79    68870.0  Lake Victoria
107   82103.0  Lake Superior
54   386400.0    Caspian Sea

In [14]:
airports = []
elevations = []
for airport in root.findall('airport'):
    if airport.findtext('elevation') is '':
        continue
    else:
        elevations.append(float(airport.findtext('elevation')))
        airports.append(airport.findtext('name'))

In [15]:
airports_df = pd.DataFrame({'Airport':airports,'Elevation':elevations})
airports_df.sort_values('Elevation').tail()

                                    Airport  Elevation
789  Teniente Alejandro Velasco Astete Intl     3311.0
787                                 Juliaca     3827.0
230                            Yushu Batang     3963.0
212                           Lhasa-Gonggar     4005.0
80                             El Alto Intl     4063.0